*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style : none ; 
    
}
body{
    font-family: montserrat;
}
.navbar {
    background: #0082e6;
}
nav{
   
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
ul li {
    display: inline;
    margin: 0 5px;
}
ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
}
a.active , a:hover {
    background-color: #1b9bff;
    transition: all .5s;
}
.checkBtn {
    font-size: 30px;
    color: white;
    position: fixed;
    right: 40px;
    line-height: 100px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width : 1300px) {
    nav .logo {
        font-size: 30px;
    }
    ul li a {
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        padding: 7px 5px;
        border-radius: 5px;
        font-weight: bold;
    }
}
@media (max-width : 992px){
    nav .logo {
        font-size: 30px;
        padding-left: 50px;
    }
    ul li a {
        font-size: 16px;
    }
    .checkBtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        /* top: 80px; */
        top: 100%;
        transition: all .5s;
        left: 0px;
        text-align: center;
    }
    ul li {
        display: block;
        margin-top: 30px;
    }
    a.active , a:hover {
        background-color: transparent;
        color: #0082e6;
    }
    #check:checked ~ ul {
        top: 80px ;
    }

}